<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/styles_404.css">
</head>
<body>
    <!--Most we care about is the body-->
    </br></br>
    <h1>Oops!</h1>
    </br></br>
    <h2>Something went wrong</br>Possible reasons:</h2>
    <div class="recommendations style="width:300px;">
        <ul>
            <li>A page you are looking for doesn't exist</li>
            <li>You tried to get the recommendation, but rated movies, which we don't have in our database</li>
            <li>You tried to get the recommendation, but rated less than tree movies</li>
        </ul>
    </div>
    </br></br></br></br></br></br>
    <form class="inner-link" method="get" action="/index">
        <button type="submit">Try again</button>
    </form>

</body>
</html>